/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    background-color: #fff;
    margin: 0px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #FDFFBF;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #666666;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#378133;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;

}

div.menu ul li a, div.menu ul li a:visited
{
    background: -moz-linear-gradient(center top , #89C3E1, #5C89C4) repeat scroll 0 0 transparent;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.90em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    color: #FFFFFF;
    font-size:1.20em;   
}

div.menu ul li a:hover
{
    background: -moz-linear-gradient(center top , #89C3E1, #5C89C4) repeat scroll 0 0 transparent;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background: -moz-linear-gradient(center top , #89C3E1, #5C89C4) repeat scroll 0 0 transparent;
    color: #cfdbe6;
    text-decoration: none;
}

#cmd-buscar {
    background: -moz-linear-gradient(center top , #89C3E1, #5C89C4) repeat scroll 0 0 transparent;
    border: 1px solid #5C89C4;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 21px;
    height: 46px;
    margin: 7px 0 0;
    text-shadow: 2px 2px 1px #5078AB;
    width: 113px;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: #666666;
}

.loginDisplay a:visited
{
    color: #666666;
}

.loginDisplay a:hover
{
    color: #666666;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.tabela-gridview tr th {
    border-collapse: collapse;
    border: 1px solid #E8E7E1;
    background: none repeat scroll 0 0 #F7F6F0;
    text-align: left;
    color: #666666;
    padding:10px;
}


.tabela-gridview tr td
{
    border: 1px solid #E8E7E1;
    color: #666666;
    padding: 10px;
}

.display_none
{
    display: none;
}

.busca-novo-div
{
    background: none repeat scroll 0 0 #F7F6F0;
    border: 1px solid #E8E7E1;
    border-collapse: collapse;
    color: #666666;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}

div.menssagem-erro { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.menssagem-erro p { margin: 10px; color: #C00; font-style: normal; font-weight: bold;}

div.menssagem-sucesso { margin: 0 0 10px 0; padding: 5px 10px; border: #D0F5A9 1px solid; background-color: #ECF8E0; }
div.menssagem-sucesso p { margin: 10px; color: #666666; font-style: normal; font-weight: bold;}

/* Form styles */


div.form-container  p { margin: 0; }
div.form-container  p.note { margin-left: 170px; font-size: 90%; color: #333; }
div.form-container  fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
div.form-container  legend { font-weight: bold; color: #666; }
div.form-container  fieldset div { padding: 0.25em 0; }
div.form-container label, 
div.form-container span.label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; }
div.form-container label.error, 
div.form-container span.error { color: #C00; }
div.form-container label em, 
div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
div.form-container input.error { border-color: #C00; background-color: #FEF; }
div.form-container div.controlset label, 
div.form-container div.controlset input { display: inline; float: none; }
div.form-container div.controlset div { margin-left: 170px; }
div.form-container div.buttonrow { margin-left: 0px; }

