<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="ConnectionString" connectionString="metadata=res://*/TWeb.csdl|res://*/TWeb.ssdl|res://*/TWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLXSP0284\SQLEXPRESS2008;attachdbfilename=D:\Alessandro\Projetos\tweb\database\tweb.mdf;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>