<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=tweb;Integrated Security=True" providerName="System.Data.EntityClient" />-->
    <add name="ConnectionString" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_33213_tweb;User ID=DB_33213_tweb_user;Password=XboxPs3!!;Integrated Security=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/twebadmin/autenticacao/default.aspx" timeout="2880">
      </forms>
    </authentication>
    <authorization>
      <deny users ="?" />
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>