/*############################# Dinamico ##################################*/
#div-paginacao
{
    padding:40px 0px 0px 100px;
    left:70%;
    width:55%;
    right:100px;
    text-align:right;
    margin-left: auto;
    margin-right: auto;
    height:35px;
   
}

#div-paginacao ul.pages {
    display:block;
    border:none;
    font-size:10px;
    margin:10px 0 50px;
    padding:0;
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin: auto;
}

#div-paginacao ul.pages li {
    list-style:none;
    float:left;
    border:1px solid #ccc;
    text-decoration:none;
    margin:0 5px 0 0;
    padding:5px;
}

#div-paginacao ul.pages li:hover {
    border:1px solid #003f7e; 
}

#div-paginacao ul.pages li.pgEmpty {
    border:1px solid #eee; 
    color:#eee;
}

#div-paginacao ul.pages li.pgCurrent {
    border:1px solid #003f7e; 
    color:#000;
    font-weight:700;
    background-color:#eee;
}
/*############################# Estático ##################################*/
#div-paginacao2
{
    padding:40px 0px 0px 30%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    height:35px;
}

#div-paginacao2 a
{
    list-style:none;
    float:left;
    border:1px solid #ccc;
    text-decoration:none;
    margin:0 5px 0 0;
    padding:5px;
    font-size:10px;
    color: Black;
}

#div-paginacao2 a.atual
{
     border:1px solid #003f7e; 
     background-color:#EAF7FB;
}

#div-paginacao2 a:hover {
    border:1px solid #003f7e; 
    background-color:#B8E2EF;
}